Strings

    1.) Creating Strings
    2.) Printing Strings
    3.) Differences in Printing in Python 2 vs 3
    4.) String Indexing and Slicing
    5.) String Properties
    6.) String Methods
    7.) Print Formatting

Creating Strings

In [1]:
# Single word
'hello'

'hello'

In [2]:
# Entire phrase 
'This is also a string'

'This is also a string'

In [3]:
# We can also use double quote
"String built with double quotes"

'String built with double quotes'

In [1]:
# Careful with single/double quotes
' I'm using single quotes, but will create an error'

SyntaxError: invalid syntax (<ipython-input-1-eacb665f56ee>, line 2)

In [10]:
"Now I'm ready to use the single quotes inside a string!"

"Now I'm ready to use the single quotes inside a string!"

Printing Strings

In [11]:
# We can simply declare a string
'Hello World'

'Hello World'

In [2]:
# Note that we can't output multiple strings this way
'Hello World 1'
'Hello World 2'

'Hello World 2'

In [4]:
# Print multiple strings together
print 'Hello World'
print 'My first Python Trial'
print '\n To print a new line'
print '\n'
print 'See what I mean?'

Hello World
My first Python Trial

 To print a new line


See what I mean?

### <font color='red'>Python 3 Alert!</font>

In [32]:
# To use print function from Python 3 in Python 2
from __future__ import print_function

print('Hello World')

Hello World

String Basics

In [33]:
len('Hello World')

11

String Indexing

In [11]:
# Assign s as a string
s = 'Hello World'

In [13]:
# Check the value
s

'Hello World'

In [36]:
# Print the object
print(s)

Hello World

Let's start indexing!

In [21]:
# Show first element (in this case a letter)
s[0]

'H'

In [22]:
s[1]

'e'

In [23]:
s[2]

'l'

We can use a : to perform *slicing* which grabs everything up to a designated point. For example:

In [16]:
# Grab everything from the 1st index to the end
s[1:]

'ello World'

In [25]:
# Note that there is no change to the original s
s

'Hello World'

In [17]:
# Grab everything upto the 3rd index. Note: It doesn't include the 3rd index
s[:3]

'Hel'

Note the above slicing. Here we're telling Python to grab everything from 0 up to 3. It doesn't include the 3rd index. You'll notice this a lot in Python, where statements and are usually in the context of "up to, but not including".

In [27]:
#Everything
s[:]

'Hello World'

We can also use negative indexing to go backwards.

In [28]:
# Last letter (one index behind 0 so it loops back around)
s[-1]

'd'

In [29]:
# Grab everything but the last letter
s[:-1]

'Hello Worl'

We can also use index and slice notation to grab elements of a sequence by a specified step size (the default is 1). For instance we can use two colons in a row and then a number specifying the frequency to grab elements. For example:

In [18]:
# Grab everything, but go in steps size of 1
s[::1]

'Hello World'

In [46]:
# Grab everything, but go in step sizes of 2
s[::2]

'HloWrd'

In [21]:
# We can use this to print a string backwards
s[::-1]

'dlroW olleH'

## String Properties
Its important to note that strings have an important property known as immutability. This means that once a string is created, the elements within it can not be changed or replaced. For example:

In [48]:
s

'Hello World'

In [23]:
# Let's try to change the first letter to 'x'
s[0] = 'x'

TypeError: 'str' object does not support item assignment

In [50]:
s

'Hello World'

In [52]:
# Concatenate strings!
s + ' concatenate me!'

'Hello World concatenate me!'

In [28]:
# We can reassign s completely though!
s = s + ' concatenate me!'

In [54]:
print(s)

Hello World concatenate me!

In [29]:
s

'Hello World concatenate me!'

We can use the multiplication symbol to create repetition!

In [24]:
letter = 'z'

In [25]:
letter * 10

'zzzzzzzzzz'

Basic Built-In String Methods

In [30]:
s

'Hello World concatenate me!'

In [62]:
# Upper Case a string
s.upper()

'HELLO WORLD CONCATENATE ME!'

In [65]:
# Lower case
s.lower()

'hello world concatenate me!'

In [67]:
# Split a string by blank space (this is the default)
s.split()

['Hello', 'World', 'concatenate', 'me!']

In [68]:
# Split by a specific element (doesn't include the element that was split on)
s.split('W')

['Hello ', 'orld concatenate me!']

Print Formatting

In [34]:
'Insertion using curly brackets: {0} {1}'.format('Insertion 0', 'Insertion 1')

'Insertion using curly brackets: Insertion 0 Insertion 1'